<div class="jumbotron">
	<h1>TBD</h1>
	<p>
		Incredible Facebook Quizzes
	</p>

	<p>
  <%= link_to_function "Find Backstabbers!", "#", class: "btn btn-primary btn-lg" %>
  </p>

  <p>
  	<% if current_user %>
  		Shady people in your life: <%= current_user.friends_count %><br>
  		<%= current_user.homework_copier %> will copy your homework.<br>
  		<%= current_user.love_thief %> will steal your love interest.<br>
  		<%= current_user.family_killer %> will kill your family.<br>
  		<%= current_user.secret_sharer %> will share your secret.<br>
  	<% end %>
  </p>
 

	<div id="status">
	</div>