<div class="jumbotron">
	<h1>TBD</h1>
	<p>
		<b>Incredible Facebook Quizzes</b>
	</p>
</div>


<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<div>
	<% if current_user %>
		<div>
  		<table>
  			<tr>
  				<td>
  				Hello <b><%= current_user.name %></b>!
  				</td>
  			</tr>
	  		<tr>
		  		<td>
			  		<%= image_tag(current_user.homework_copier_image) %><br>
			  		<b><%= current_user.homework_copier %></b> will copy your homework.
		  		</td>
		  		<td>
		  			<%= image_tag(current_user.love_thief_image) %><br>
		  			<b><%= current_user.love_thief %></b> will steal your love interest.
		  		</td>
	  		</tr>
	  		<tr>
		  		<td>
		  			<%= image_tag(current_user.family_killer_image) %><br>
		  			<b><%= current_user.family_killer %></b> will kill your family.
		  		</td>
		  		<td>
		  			<%= image_tag(current_user.secret_sharer_image) %><br>
		  			<b><%= current_user.secret_sharer %></b> will share your secret.
		  		</td>
	  		</tr>
  		</table>
		</div>
	<% else %>
		<div>
			<%= link_to "Find Backstabbers!", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg" %>
			Hello <b><%= User.find(session[:user_id]).name %></b>!
		</div>
	<% end %>
 </div>